*{
  margin: 0;
  padding: 0vmin;
}

.App {
  font-family: 'Overpass', sans-serif;
  background: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.rating-wrapper{
  background: hsl(213, 19%, 18%);
  width: 414px;
  height: 415px;
  border-radius: 5%;
}

.rating, .submitted{
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
}


.rating img{
  width: 40%;
  height: auto;
}

h3, button {
  color: hsl(0, 0%, 100%);
}

h3{
  font-size: 2em;
}

p{
  font-size: 15px;
}

p, input, span{
  color: hsl(217, 12%, 63%);
}

button{
  background: hsl(25, 97%, 53%);
  text-transform: uppercase;
  border: none;
  padding: 1em 2em;
  border-radius: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}
button:hover{
  background:white;
  color: hsl(25, 97%, 53%);
}

.rating-input{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blur{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.041);
  display: flex;
  justify-content: center;
  align-items: center;
}

.span{
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.active{
  background: hsl(217, 12%, 63%);
  color: white;
}

.span:hover{
  background: hsl(25, 97%, 53%);
  color: white;
}


.attribution{
  justify-self: end;
  position: relative;
  top: 10em;
}

.submitted{
  display: flex;
  align-items: center;
  
}

.submitted-msg{
  padding: 0.4em 1em;
  text-align: center;
  border-radius: 15px;
  color: hsla(25, 97%, 53%, 0.863);
}

.submitted-text{
  text-align: center;
  max-width: 90%;
  line-height: 150%;
}

a{
  color:hsl(217, 12%, 63%);
}


/* On screens that are 400px or less*/
@media screen and (max-width: 400px) {
  .rating-wrapper{
    width: 90%;
  }
  .rating{
    padding: 2em 1em;
  }
  .attribution{
    top: 15%;
  }
  .submitted-text{
    max-width: max-content;
    width: 130%;
  }
}